<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793658669210-0hp246j894okc0arvu5en759b99rv5ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793658669210-0hp246j894okc0arvu5en759b99rv5ha</string>
	<key>API_KEY</key>
	<string>AIzaSyAkjLzEoYEVThgeoIq2L5vidUBwORUYahw</string>
	<key>GCM_SENDER_ID</key>
	<string>793658669210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smashswift.nback</string>
	<key>PROJECT_ID</key>
	<string>nbackgame-b684d</string>
	<key>STORAGE_BUCKET</key>
	<string>nbackgame-b684d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793658669210:ios:d1558191b441cc9e77c723</string>
</dict>
</plist>